:root {
    --overlay-height: calc(100vh - 90px);
}

.fs-overlay-container {
    /* pointer-events: none; */

    z-index: 1;
    position: fixed;
    left: 0;
    top: calc(-100vh + 90px);

    width: 100%;
    height: calc(100vh - 90px);

    background-color: cadetblue;
    transition: top 0.2s ease-in-out;
}
