* {
    color: #222;
}

p {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
}

label {
    font-size: 15px;
    padding-right: 15px;
}

input {
    margin-left: 0;
}

section > p:first-of-type {
    padding-bottom: 10px;
}

section:not(:first-of-type) > p:first-of-type {
    padding-top: 25px;
}

hr {
    margin-top: 30px;
    margin-bottom: 10px;
}

.options-container {
    padding: 20px;
    padding-top: 0;
}

#other-options > input[type='checkbox'],
#cover-options > input[type='checkbox'] {
    margin-top: 10px;
}

#other-options > input[type='checkbox']:first-of-type {
    margin-top: 0;
}

#icon-options {
    display: flex;
    align-items: center;
}

#icon-options > svg {
    margin-left: 2px;
    margin-right: 20px;
}

.contribute-container {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.contribute-container svg {
    cursor: pointer;
    height: 20px;
    width: auto;
}

.contribute-container svg:hover {
    fill: #222;
}

.donate {
    height: 18px !important;
}

.issues:hover .mark {
    stroke: #fff;
}

.contribute-container > span {
    font-size: 13px;
    padding: 0 5px;
    padding-right: 20px;
}
